.header {
  margin-bottom: 32px;
  background-color: #eef1f6;

  .menu {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      margin-left: 20px;
      width: 48px;
      height: 48px;
    }

    .username {
      display: block;
      margin-left: auto;
      text-transform: uppercase;
      color: #000;
    }
    .link {
      display: block;
      height: 100%;
      width: 100%;
    }
    .logout {
      display: block;
    }
  }
}
